.df-style {
    background-color: #2e2e2e;
}

._selectTrigger_1e2ox_308 {
    background-color: #2e2e2e;
}

._linkDialogEditForm_1e2ox_541 {
    background-color: #2e2e2e;
}

._linkDialogPopoverContent_1e2ox_601 {
    background-color: #2e2e2e;
}